.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#meals {
    display: flex;
    flex-wrap: center;
    justify-content: center;
}

#meals img {
    width: 100px;
    height: 100px;
    margin: 20px;
}
